*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

/* 
 * Navbar 
 */
nav{
    height: 20vh;
    background-color: #6465a5;
    box-shadow: 0px 10px 11px -4px #000000bf;
}

/* Navbar title */
h1{
    font-size: 3em;
    text-align: center;
    margin: auto 0; 
}

/* Title link */
h1 a{
    color: #f3cd05;
}

/* Title link hover */
h1 a:hover{
    color: #f3cd05;
    text-decoration: none;
}

/* Horizontal line */
hr{
    width: 80vw;
    border-top: 1px solid #f3cd05;
}

/* Links group (login, register) */
.links-group{
    width: 50%;
    margin: 0 auto;
}

/* Links-group links */
.links-group a{
    color: #f3cd05;
    font-size: 1.5em;
    position: relative;
}

/* Links-group links hover */
.links-group a:hover{
    text-decoration: none;
    font-weight: 900;
}

/* Links group active links */
.active{
    font-weight: 900;
}

/* Users email on navbar */
.links-group .users-email{
    font-size: 1.4em;
    background-color: #f3cd05;
    color: #6465a5;
    border: 1px solid #f3cd05;
    border-radius: 5px;;
    padding: 0 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}


/*
 * Messages (success, errors)
*/
.messages{
    height: 3.5em;
    width: 98%;
    box-shadow: 0px 10px 11px -4px #000000bf;
    position: absolute;
    top: 22vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 2.5em;
}

/* Message paragraph */
.messages p{
    font-size: 1.3em;
    font-weight: 100;
    color: #fff
}


/* 
 * Container div 
 */
.container{
    /* height: 65vh; */
    width: 80%;
    margin: 0 auto;
}


/*
 * Index page
 */
 /* Logout form */
.logout-form{
    position: absolute;
    top: 17.5vh;
    right: 0;
}

 /* Logout form button */
.logout-form input{
    color: #fff;
    font-size: 1.4em;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    background-color: rgba(255,0,0,0.5);
}

 /* Logout form button */
.logout-form input:hover{
    padding-right: 3em!important;
    background-color: red;
}

/* Main content */
.shorten-url{
    margin-top: 8em;
}

/* Long URl input */
.shorten-url input[type='text']{
    width: 30em;
    border: 1px solid #ccc;
    border-right: none;
    outline: none;
    font-size: 1.3em;
    border-radius: 4px 0 0 4px;
}

/* Shorten Button */
.shorten-url input[type='submit']{
    width: 5em;
    border: 1px solid #6465a5;
    border-radius: 0 4px 4px 0;
    outline: none;
    font-size: 1.3em;
    background-color: #6465a5;
    color: #fff;
}

/* Shorten Button hover */
.shorten-url input[type='submit']:hover{
    background-color: #4e4f8a;
}

/* Shorten links */
.url-list .card a{
    color: #6465a5;
    font-weight: 900;
}

/* Card spans */
.card-text span{
    font-weight: 900;
}

/* Advertisement div */
.ads{
    position: fixed;
    bottom: 8em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 0.5em;
    background-color: #6465a5;
    color: #f3cd05;
    box-shadow: 0px 10px 11px -4px #000000bf;
}

/* Advertisement div on small and medium devices */
@media(max-width: 720px){
    .ads{
        width: 90%;
    }
}

/* Ads first paragraph */
.ads p:first-child{
    font-size: 1.5em;
}

/* Ads second paragraph */
.ads p:nth-child(2){
    font-size: 1.4em;
}

/* Ads last paragraph */
.ads p:last-child{
    font-size: 1.3em;
}

/* Ads last paragraph span tags */
.ads p span{
    font-weight: 900;
}


/*
 * Login and register pages
 */
 .log-reg-title{
     font-size: 2.5em;
     font-weight: 100;
     margin-top: 3em;
     margin-bottom: 1.5em;
 }

/* Inputs with type email and password */
input[type="email"],
input[type="password"]{
    font-size: 1.4em;
    border: none;
    border-bottom: 1px solid #6465a5;
    width: 18em;
    outline: none;
}

/* Inputs with type submit */
.log-reg-submit{
    width: 8em;
    font-size: 1.4em;
    font-weight: 900;
    background-color: #6465a5;
    color: #fff;
    border:none;
    border-radius: 2px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

/* Inputs with type submit on hover */
.log-reg-submit:hover{
    background-color: #4e4f8a;
}


/* Footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgba(100, 101, 165, 0.8);
    color: #fff;
    height: 7vh;
}
